# Core System & Web Framework
Flask==3.1.1
Werkzeug==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
waitress==3.0.2
flask-cors==6.0.0

# Audio/Video Processing
ffmpeg-python==0.2.0
pydub==0.25.1
librosa==0.11.0
SoundFile==0.13.1
soxr==0.5.0.post1
SpeechRecognition==3.14.3
opencv-python==4.11.0.86
yt-dlp==2025.4.30

# Emotion Detection
deepface==0.0.75
fer==20.1.3
tensorflow==2.11.0

# Laughter / Face Detection
mtcnn==0.1.1
retina-face==0.0.17

# Data & Math
numpy==1.24.4
scipy==1.11.4
pandas==2.0.3

# Utility Libraries
requests==2.32.3
gdown==5.2.0
tqdm==4.67.1
